@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post-btn {
  padding: 1em 2.5em;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.post-btn:hover {
  background-color: #D0F200;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #071621;
  transform: translateY(-7px);
}

.post-btn:active {
  transform: translateY(-1px);
}

.main-layout {
  position: absolute;
  top: 0;
  left: 118px;
  width: calc(100vw - 118px);
  min-height: 100vh;
  padding: 20px 40px;
}

.center {
  align-items: center;
  justify-content: center;
}

*:focus-visible {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #071621;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e5175;
}
